body {
    
    /*background-color: #eee;*/
}

#main{
    display:block;
    width:100%;
    /*padding:50px 10%;*/
    /*height:300px;*/
} 

.textimgs {
    /*background-image: url("https://mail.hartl-haus.at/uploads/tx_hhhouses/htf13_classic153s(3_giebel_haus).jpg");*/
    background-image: url("../images/img.jpg");
    height: 200px;
}